<h2>Editing task: <%= @task.name %></h2>
<hr>

<%= render 'form' %>
<hr>
<%= link_to 'Show', project_task_path(@project, @task), class: "btn btn-primary" %>
<%= link_to 'Back', project_tasks_path(@project), class: "btn btn-default" %>
